# Database Configuration
DB_HOST=database
DB_PORT=3306
DB_DATABASE=aulasegura
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_ROOT_PASSWORD=root_password

# Application Environment
NODE_ENV=development
WEB_SERVER_PORT=8000

# JWT Configuration
JWT_ACCESS_SECRET=tu_clave_secreta_de_acceso
JWT_REFRESH_SECRET=tu_clave_secreta_de_actualizacion
JWT_ACCESS_EXPIRATION=1h
JWT_REFRESH_EXPIRATION=7d

# Tag Configuration (RFID/NFC)
TAG_PEPPER=tu_clave_secreta_para_encriptacion_en_db

# Image Server Configuration (Nginx)
IMAGES_PATH=/app/images
IMAGES_BASE_URL=http://localhost:8090